@page
@model Final_Project_PRN221.Pages.SupportModel
@{
}
<h2>Hỗ trợ</h2>
<p>SDT: 0931981368</p>
<p>Gmail: tungnche151309@gmail.com</p>

<p>Mọi thông tin xin vui lòng liên hệ qua hai cổng giao dịch trên. Xin chân thành cảm ơn quý khách.</p>