@page
@using Final_Project_PRN221.Models;
@model Final_Project_PRN221.Pages.Users.GetNotificationModel
@{
    Layout = null;
    var noti = ViewData["Notification"] as List<Notification>;
}
@if (noti == null)
{
    <p>@Model.Message</p>
}
else
{
    <p>@Model.Message</p>
    @foreach (var n in noti)
    {
        <p>@n.Content</p>
        <hr />
    }
}