@page
@model Final_Project_PRN221.Pages.Users.HomePageModel
@{
    Layout = null;
}
<h2>User home page</h2>
<a asp-page="/Users/ChangePassword">Đổi mật khẩu</a><br />
<a asp-page="/Users/ViewPayment">Xem hóa đơn</a><br />
<a asp-page="/Users/GetNotification">Xem thông báo</a><br />