@page
@model Final_Project_PRN221.Pages.Admin.HomePageModel
@{
    Layout = null;
}

<h2>Admin Page</h2>
<a asp-page="/Admin/SignOut">Đăng ký cho người dùng</a><br/>
<a asp-page="/Admin/Payment">Tổng hợp tiền phòng</a><br/>
<a asp-page="/Admin/SetNotification">Thiết lập thông báo</a><br/>
<a asp-page="/Admin/ViewUserList">Xem danh sách người dùng</a><br/>