@page
@model Final_Project_PRN221.Pages.Admin.SignOutModel
@{
    Layout = null;
}

@*<h2>Đăng ký tài khoản người dùng</h2>
@if (!string.IsNullOrWhiteSpace(@Model.Mess))
{
    <div class="text-danger">
        @Model.Mess
    </div>
}
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <div>
            <label>Tên người dùng</label>
            <input asp-for="user.Fullname" type="text" />
            <span asp-validation-for="user.Fullname"></span>
        </div>
        <div>
            <label>Tên tài khoản</label>
            <input asp-for="user.Username" type="text" />
            <span asp-validation-for="user.Username"></span>
        </div>
    </div>
    <div>
        <div>
            <label>Gmail người dùng</label>
            <input asp-for="user.Email" type="text" />
            <span asp-validation-for="user.Email"></span>
        </div>
        <div>
            <label>Mật khẩu</label>
            <input asp-for="user.Password" type="text" />
            <span asp-validation-for="user.Password"></span>
        </div>
    </div>
    <div>
        <div>
            <label>Số điện thoại</label>
            <input asp-for="user.Phone" type="text" />
            <span asp-validation-for="user.Phone"></span>
        </div>
        <div>
        <label>ID phòng</label>
        <input asp-for="user.RoomId" type="text" />
        <span asp-validation-for="user.RoomId"></span>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Đăng ký">
</form>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Register</h3>
                            <form method="post">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <input asp-for="user.Fullname" class="form-control p_input">
                                    <span asp-validation-for="user.Fullname"></span>
                                </div>
                                <div class="form-group">
                                    <label>Username</label>
                                    <input asp-for="user.Username" class="form-control p_input">
                                    <span asp-validation-for="user.Username"></span>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input asp-for="user.Email" type="email" class="form-control p_input">
                                    <span asp-validation-for="user.Email"></span>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" asp-for="user.Password" class="form-control p_input">
                                    <span asp-validation-for="user.Password"></span>
                                </div>
                                <div class="form-group">
                                    <label>Phone number</label>
                                    <input asp-for="user.Phone" class="form-control p_input">
                                    <span asp-validation-for="user.Phone"></span>
                                </div>
                                <div class="form-group">
                                    <label>RoomID</label>
                                    <input asp-for="user.RoomId" class="form-control p_input">
                                    <span asp-validation-for="user.RoomId"></span>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">Register</button>
                                </div>
                                <p class="sign-up text-center">Already have an Account?<a href="/Admin/HomePage"> Return to home page</a></p>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/todolist.js"></script>
    <!-- endinject -->
</body>
</html>