@page
@model Final_Project_PRN221.Pages.Electric_Check.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Electricity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Electricity.RoomId" class="control-label"></label>
                <select asp-for="Electricity.RoomId" class ="form-control" asp-items="ViewBag.RoomId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Electricity.FromDate" class="control-label"></label>
                <input asp-for="Electricity.FromDate" class="form-control" />
                <span asp-validation-for="Electricity.FromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Electricity.ToDate" class="control-label"></label>
                <input asp-for="Electricity.ToDate" class="form-control" />
                <span asp-validation-for="Electricity.ToDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Electricity.PricePerNumber" class="control-label"></label>
                <input asp-for="Electricity.PricePerNumber" class="form-control" />
                <span asp-validation-for="Electricity.PricePerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Electricity.Quantity" class="control-label"></label>
                <input asp-for="Electricity.Quantity" class="form-control" />
                <span asp-validation-for="Electricity.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Electricity.Total" class="control-label"></label>
                <input asp-for="Electricity.Total" class="form-control" />
                <span asp-validation-for="Electricity.Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Electricity.PaymentDetailId" class="control-label"></label>
                <select asp-for="Electricity.PaymentDetailId" class ="form-control" asp-items="ViewBag.PaymentDetailId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
